@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    @apply m-auto;
}

.container--full{
    @apply h-screen;
    @apply w-screen;
}

.container--content-center{
    @apply text-center;
    @apply flex flex-col items-center justify-center;
}

.movies-list{
    @apply flex flex-col justify-center items-center;
}

.movie-row{
    @apply flex flex-row;
    @apply bg-sky-100;
    @apply w-2/3 h-1/6 m-8;
    border-radius: 20px;
    overflow: hidden;
}

.movie-row img{
    display: block;
    width: 250px;
}

.movie-row__content{
    @apply w-full flex flex-col items-center justify-around mt-2;
}

.movie-row__content__block{
    @apply flex flex-col items-center m-4 text-2xl;
}

.btn{
    @apply p-2 rounded m-2 text-center;
}

.btn__warning{
    @apply bg-red-700 text-white;
}

.btn__change{
    @apply bg-amber-600 text-white;
}

.btn__action{
    @apply bg-sky-700 text-white;
}

.seance{
    @apply flex flex-row justify-between;
}

.seance__short-info{
    @apply text-2xl;
}

.seance__seats-section{
    @apply flex flex-col items-center;
}

.seance__reservation-info{

}

.seance__side{
    @apply mt-4 w-2/6 flex flex-col justify-center items-center;
}

.seance__side__left{
    @apply ml-4;
}

.seance__side__right{
    @apply mr-4;
}

.screen-baner{
    @apply bg-gray-700 text-white font-bold p-2 w-96 text-center rounded mt-4;
}

.seats-list{
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.seat{
    @apply p-6 m-px w-16 h-16 text-center text-white;
}

.seat__taken{
    @apply bg-red-700;
}

.seat__free{
    @apply bg-green-500;
}

.seat__selected{
    @apply bg-green-700;
}

.seat__free:hover{
    cursor: pointer;
    transition: 0.3s;
    @apply bg-green-600;
}

.selected-list{
    @apply h-24 w-24 overflow-scroll overflow-x-hidden;
}
